<app-header></app-header>
<div style="padding: 30px;">
  <h4>Compony List Sort</h4>
  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select>
      <mat-option *ngFor="let ComponySort of componySorts" [value]="ComponySort.value" (click)="clickSort(ComponySort)">
        {{ComponySort.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div style="padding: 30px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Compony Name Column -->
    <ng-container matColumnDef="componyName">
      <th mat-header-cell *matHeaderCellDef> Compony Name </th>
      <td mat-cell *matCellDef="let element"> {{element.componyName}} </td>
    </ng-container>

    <!-- Compony Website Column -->
    <ng-container matColumnDef="componyWebsite">
      <th mat-header-cell *matHeaderCellDef> Compony Website </th>
      <td mat-cell *matCellDef="let element"> {{element.componyWebsite}} </td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="componyLoc">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.componyLoc}} </td>
    </ng-container>

    <!-- Rate Column -->
    <ng-container matColumnDef="componyRate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.componyRate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/compony', row.componyId]"></tr>
  </table>
</div>