<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div fxLayoutAlign="center center">
      <mat-card class="centered">
        <mat-card-header fxLayoutAlign="center">
          <h1 class="mat-display-1">Search Companies in Cities</h1>
        </mat-card-header>
        <div class="row">
          <div class="col-xs-10">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Los Angeles,New York,Seattle" required="required"
                     formControlName="city">
            </div>
          </div>
          <div class="col-xs-2">
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block" style="size: 20px">Log in</button>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</form>
