
mat-form-field.mat-form-field {
  font-size: 20px;
}

mat-form-field {
  width: calc(100% - 200px);
}

mat-card {
  width: calc(100% - 400px);

}

/*.form-control-borderless {*/
/*  border: none;*/
/*}*/

/*.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {*/
/*  border: none;*/
/*  outline: none;*/
/*  box-shadow: none;*/
/*}*/

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

table {
  padding: 30px;
  width: 100%;
}
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-buton {
  vertical-align: bottom;
}

.mat-card {
  opacity: 0.6;
}
