.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.card {
  min-width: 80%;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

a {
  cursor: pointer;
}

.slider-container {
  width: 100%;
  height: 100%;
}

.sliders {
  position: absolute;
  width: 100vw;
  height: 66vw;
}

.slider {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

